@font-face { font-family: Nakago; src: url('/ttf/wadalab-nakago-IsomeRight.ttf'); }
@font-face { font-family: Apple; src: url('/ttf/Apple ][.ttf'); }
@font-face { font-family: Mizu; src: url('/ttf/mizufalp.ttf'); }
@font-face { font-family: Fipps; src: url('/ttf/fipps.ttf'); }
@font-face { font-family: M04; src: url('/ttf/m04.ttf'); }
*{ padding: 0; margin: 0; }
html{ height: 100%; width: 100%; }
body{ height: 100%; width: 100%; overflow: hidden; background-image: url(/img/background_grid.png); position: absolute; top: 0; left: 0; }
#welcome{ display: none; }
.lightbox{ font-family: arial, helvetica, sans-serif; }
.lightbox-dialog{ }
.lightbox-caption{ display: none; height: 0; }
.lightbox-body{ min-width: 400px !important; min-height: 220px !important; background: url(/img/logo.png) no-repeat bottom right; }
.lightbox-body > ul{
  list-style: circle;
}
#container{ overflow: visible; z-index: 0; height: 100%; width: 100%; position: relative;}
.dragging{ z-index: 0;}
.node{ min-height: 44px; width: 64px; background: url(/img/peg.png); position: absolute; cursor: pointer; }
.node:active{ cursor: move; }
.pipe{ height: 32px; width: 64px; background: url(/img/pipe.png); position: absolute; }
.disc1{ height: 36px; width: 64px; background: url(/img/pink_disc.png); position: absolute; }
.disc2{ height: 36px; width: 64px; background: url(/img/orange_disc.png); position: absolute; }
.disc3{ height: 36px; width: 64px; background: url(/img/green_disc.png); position: absolute; }
.disc4{ height: 36px; width: 64px; background: url(/img/blue_disc.png); position: absolute; }
.disc5{ height: 36px; width: 64px; background: url(/img/pink_disc.png); position: absolute; }
.disc6{ height: 36px; width: 64px; background: url(/img/pink_disc.png); position: absolute; }
.disc7{ height: 36px; width: 64px; background: url(/img/pink_disc.png); position: absolute; }
.disc8{ height: 36px; width: 64px; background: url(/img/pink_disc.png); position: absolute; }
.disc9{ height: 36px; width: 64px; background: url(/img/pink_disc.png); position: absolute; }
.disc10{ height: 36px; width: 64px; background: url(/img/pink_disc.png); position: absolute; }
.disc11{ height: 36px; width: 64px; background: url(/img/pink_disc.png); position: absolute; }
.disc12{ height: 36px; width: 64px; background: url(/img/pink_disc.png); position: absolute; }
.disc13{ height: 36px; width: 64px; background: url(/img/pink_disc.png); position: absolute; }
.disc14{ height: 36px; width: 64px; background: url(/img/pink_disc.png); position: absolute; }
.disc15{ height: 36px; width: 64px; background: url(/img/pink_disc.png); position: absolute; }
.disc16{ height: 36px; width: 64px; background: url(/img/pink_disc.png); position: absolute; }
.class_name{ 
  font-family: Fipps; 
  position: absolute; 
  font-size: 8px; 
  background: #fff; 
  opacity: 0.9; 
  padding: 0 3px 0 3px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  letter-spacing: 1px;
  }
.module { font-family: Apple; font-size: 8px; position: absolute; }
#search{
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1;
  width: 200px;
}
.autocompleter{
  font-family: Arial, Helvetica, sans-serif;
}
div.autocompleter ul li.current{
  background: #eee !important;
  color: #111;
  padding-left: 29px;
  background: url(/img/pixelglasses.png) no-repeat left center !important;
  background-color: #eee !important;
}
#legend{
  font-family: Fipps;
  font-size: 8px;
  position: fixed;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  opacity: 0.90;
  margin-top: 20px;
  left: 20px;
  bottom: 20px;
  background: white;
  z-index: 1;
  max-width: 97%;
}
#legend .key{
  min-width: 64px; 
  -moz-border-radius: 5px;
  /*-webkit-border-radius: 5px 5px 0px 0px;*/
  text-align: left;
  letter-spacing: 1px;
  float: left;
  margin: 0 2px 0 2px;
}
#legend .title{
  text-align: center;
  background: #eee;
  -webkit-border-radius: 5px 5px 0px 0px;
}
#legend .label{
  text-align: center;
}
#legend .center{
  margin: 0 auto;
  width: 64px;
}
.legend_disc1{ height: 36px; width: 64px; background: url(/img/pink_disc.png); margin: 0 auto; }
.legend_disc2{ height: 36px; width: 64px; background: url(/img/orange_disc.png); margin: 0 auto; }
.legend_disc3{ height: 36px; width: 64px; background: url(/img/green_disc.png); margin: 0 auto; }
.legend_disc4{ height: 36px; width: 64px; background: url(/img/blue_disc.png); margin: 0 auto; }
.legend_disc5{ height: 36px; width: 64px; background: url(/img/pink_disc.png); margin: 0 auto; }
.legend_disc6{ height: 36px; width: 64px; background: url(/img/pink_disc.png); margin: 0 auto; }
.legend_disc7{ height: 36px; width: 64px; background: url(/img/pink_disc.png); margin: 0 auto; }
.legend_disc8{ height: 36px; width: 64px; background: url(/img/pink_disc.png); margin: 0 auto; }
.legend_disc9{ height: 36px; width: 64px; background: url(/img/pink_disc.png); margin: 0 auto; }
.legend_disc10{ height: 36px; width: 64px; background: url(/img/pink_disc.png); margin: 0 auto; }
.legend_disc11{ height: 36px; width: 64px; background: url(/img/pink_disc.png); margin: 0 auto; }
.legend_disc12{ height: 36px; width: 64px; background: url(/img/pink_disc.png); margin: 0 auto; }
.legend_disc13{ height: 36px; width: 64px; background: url(/img/pink_disc.png); margin: 0 auto; }
.legend_disc14{ height: 36px; width: 64px; background: url(/img/pink_disc.png); margin: 0 auto; }
.legend_disc15{ height: 36px; width: 64px; background: url(/img/pink_disc.png); margin: 0 auto; }
.legend_disc16{ height: 36px; width: 64px; background: url(/img/pink_disc.png); margin: 0 auto; }
.legend_disc17{ height: 36px; width: 64px; background: url(/img/pink_disc.png); margin: 0 auto; }
.legend_disc18{ height: 36px; width: 64px; background: url(/img/pink_disc.png); margin: 0 auto; }
.legend_disc19{ height: 36px; width: 64px; background: url(/img/pink_disc.png); margin: 0 auto; }
.legend_disc20{ height: 36px; width: 64px; background: url(/img/pink_disc.png); margin: 0 auto; }
#inspector{
  min-width: 125px;
  position: fixed;
  background: #333;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  opacity: 0.90;
  top: 20px;
  left: 20px;
  font-family: Fipps;
  font-size: 8px;
  z-index: 1;
}
#inspector .title{
  background: #fff;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  text-align: center;
  letter-spacing: 1px;
  padding: 0 10px 0 10px;
}
#inspector .name{
  z-index: 1; 
  position: relative; 
  margin: 0 auto; 
  -webkit-border-radius: 0px;
  background: #fff;
  padding-left: 5px;
}
#inspector .node{ position: relative; margin: 0 auto; margin-top: 5px; margin-bottom: 5px; z-index: 0; }
#docs {
  z-index: 1;
  position: fixed;
  right: 20px;
  bottom: 20px;
  padding: 10px;
  min-width: 600px;
  max-width: 600px;
  overflow: auto;
  height: 88%;
  background: white;
  opacity: 0.8;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
}